:root {
	// Main color palette
	--greenPrimary: #0c6;
	--greenSecondary: #095;
	--redPrimary: #f34;
	--redSecondary: #b23;
	--bluePrimary: #19f;
	--blueSecondary: #17c;
	--yellowPrimary: #fb2;
	--yellowSecondary: #d92;
	--textPrimary: #bbb;
	--textSecondary: #eee;
	--textTertiary: #fff;
	--backgroundPrimary: #111;
	--backgroundSecondary: #222;
	--backgroundTertiary: #333;
	// Desktop nav
	--backgroundNavButton: #ffffff12;
	// Easing
	--easeOut: cubic-bezier(0, 0, 0.2, 1);
	--easeInOut: cubic-bezier(0.6, 0, 0.1, 1);
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes shiftFromRight {
	from {
		transform: translateX(40px);
	}
	to {
		transform: translateX(0px);
	}
}
@keyframes shiftFromBottom {
	from {
		transform: translateY(40px);
	}
	to {
		transform: translateY(0px);
	}
}
@keyframes fadeFromBottom {
	from {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

body {
	background-color: #111;
	overflow-x: hidden;
}

.title {
	animation: shiftFromRight 1s var(--easeOut) forwards;
	h1 {
		animation: shiftFromRight 1s var(--easeOut) forwards;
	}
}
