:root {
	// Main color palette
	--greenPrimary: #0c6;
	--greenSecondary: #095;
	--redPrimary: #f34;
	--redSecondary: #b23;
	--bluePrimary: #19f;
	--blueSecondary: #17c;
	--yellowPrimary: #fb2;
	--yellowSecondary: #d92;
	--textPrimary: #bbb;
	--textSecondary: #eee;
	--textTertiary: #fff;
	--backgroundPrimary: #111;
	--backgroundSecondary: #222;
	--backgroundTertiary: #333;
	// Desktop nav
	--backgroundNavButton: #ffffff12;
	// Easing
	--easeOut: cubic-bezier(0, 0, 0.2, 1);
	--easeInOut: cubic-bezier(0.6, 0, 0.1, 1);
}

body {
	width: 100vw;
	overflow-x: hidden;
}

.section {
	margin-bottom: 32px;
}

::selection {
	background-color: #0c6;
	color: #111;
}

:focus-visible {
	outline: 2px dotted #0c6;
	outline-offset: 2px;
	transition: outline-offset 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.MuiLink-root.external:focus-visible {
    outline: 2px dotted #19f;
    outline-offset: 2px;
    transition: outline-offset 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p .MuiLink-root {
    padding: initial 3px;
	&:hover {
        border-radius: 2px;
		color: #111;
		box-shadow: inset 0 -20px 0px var(--greenPrimary);
		text-decoration: underline 2px var(--greenPrimary);
	}
}

p .MuiLink-root.external {
	&:hover {
		box-shadow: inset 0 -20px 0px var(--bluePrimary) !important;
		text-decoration: underline 2px var(--bluePrimary) !important;
	}
}

br {
	margin-bottom: 10px;
}

strong {
	color: var(--textSecondary);
	font-weight: 600;
}

p {
	br {
		line-height: 1.5;
	}
	svg {
		position: relative;
		top: 2px;
	}
	.MuiLink-root svg {
		margin-right: 5px;
	}
	.MuiLink-root.external svg {
		margin-right: 0;
		margin-left: 5px;
	}
}

.symbolContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    .symbol {
        width: 64px;
        position: relative;
    }
}