:root {
	// Main color palette
	--greenPrimary: #0c6;
	--greenSecondary: #00B359;
	--greenTertiary: #008C46;
	--greenDark: #004D26;

	--redPrimary: #f34;
	--redSecondary: #E62E3D;
	--redTertiary: #BF2633;
	--redDark: #801922;

	--bluePrimary: #19f;
	--blueSecondary: #1089E6;
	--blueTertiary: #0D72BF;
	--blueDark: #094C80;

	--yellowPrimary: #fb2;
	--yellowSecondary: #E6AA1E;
	--yellowTertiary: #BF8D19;
	--yellowDark: #805E11;

	--textPrimary: #bbb;
	--textSecondary: #eee;
	--textTertiary: #fff;

	--backgroundPrimary: #111;
	--backgroundSecondary: #222;
	--backgroundTertiary: #333;
	// Desktop nav
	--backgroundNavButton: #ffffff12;
	// Easing
	--easeOut: cubic-bezier(0, 0, 0.2, 1);
	--easeInOut: cubic-bezier(0.6, 0, 0.1, 1);
}

body {
	width: 100vw;
	overflow-x: hidden;
    padding-right: 0 !important; // Still no clue why MUI does whatever it does when opening menus or dialogs.
}

section {
	margin-top: 48px;
}

::selection {
	background-color: var(--greenPrimary);
	color: #111;
}

.selection {
    &.blue {
        ::selection {
            background-color: var(--bluePrimary);
            color: #111;
        }
    }
    &.red {
        ::selection {
            background-color: var(--redPrimary);
            color: #111;
        }
    }
    &.yellow {
        ::selection {
            background-color: var(--yellowPrimary);
            color: #111;
        }
    }
}

:focus-visible {
	outline: 2px dotted #0c6;
	outline-offset: 2px;
	transition: outline-offset 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.external:focus-visible {
    outline: 2px dotted #19f;
    outline-offset: 2px;
    transition: outline-offset 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p a {
    transition: all .25s var(--easeOut);
    font-weight: 500;
    color: var(--greenPrimary);
    text-decoration: underline dotted 2px var(--greenDark);
	&:hover {
        text-decoration: underline 2px var(--greenPrimary);
	}
}

p a.external {
    color: var(--bluePrimary);
    text-decoration: underline dotted 2px var(--blueDark);
	&:hover {
        text-decoration: underline 2px var(--bluePrimary);
	}
}

br {
	margin-bottom: 10px;
}

strong {
	color: var(--textSecondary);
	font-weight: 600;
}

p {
	br {
		line-height: 1.5;
	}
	svg {
		position: relative;
		top: 2px;
	}
	a.external svg {
		margin-right: 0;
		margin-left: 3px;
	}
}

small {
    font-size: .6em;
}

img {
        user-select: none;
}
